@use "../styles/partials/mixins" as *;
@use "../styles/partials/typography" as *;
@use "../styles/partials/variables" as *;
/* @use "../styles/partials/global" as *; */

* {
  box-sizing: border-box;
  margin: 0;
  background-color: $primary-bg;
}

.footer {
  margin: 2rem;

  //everything except copyright
  &__container {
    display: flex;

    @media (min-width: 768px) {
      /*     flex-flow: row wrap; */
    }
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__title {
    font-family: $ff-newsreadern;
    color: $primary-text;
    margin-bottom: 4rem;
    /*     border: 2px solid red; */

    @media (max-width: 767px) {
      /* width: 100%; */
      font-size: 2rem;
      line-height: 2rem;
      font-weight: 400;
    }
    @media (min-width: 768px) {
      /* width: 100%; */
      font-size: 2.5rem;
      line-height: 2.5rem;
      font-weight: 400;
    }
  }

  //photographers, about, socials
  &__sub {
    display: flex;
    gap: 8rem;
    justify-content: flex-end;
    padding: 0 2rem 0 2rem;
    margin-left: auto;
  }

  //photographers, about
  &__subcontainer {
    margin-bottom: 2rem;

    /*  display: flex;
    justify-content: space-between; */
  }

  &__content {
    color: $primary-text;
    font-family: $ff-outfit500;
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: 500;
    margin: 0.5rem;
  }

  &__socials {
    padding: 0 0 0 2rem;

    padding-left: 0;
  }
  &__icon {
    margin: 0.5rem;
  }

  &__copyright {
    display: flex;
    gap: 2rem;
    color: $optional-text;
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: 500;
    margin-top: 6rem;
  }
}
